@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
//font-family: 'Archivo Black', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
//font-family: 'Josefin Sans', sans-serif;



//COLORS
$dark-red:#de5f5f;
$bright-red:#ff5851;
$yellow:#FDEF52;
$blue:#add8e6;
$gray:#343436;
$not-black-but-dark:#1c1b20;
$silver:#f8f8f8;

$alpha:0.3;


//GLOBAL STYLES
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    background-size: cover;
    background-repeat: no-repeat;
    
    z-index: 0;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

a{text-decoration: none;}

section{
    overflow-x: hidden;
}

body{
    position: relative !important;
}


//MIXIN
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin verticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


//MAIN CSS
.background{
    //overflow-x: hidden;
    height: 700vh;
    width: 100%;
    background-color: $silver;
    position: absolute;

    .bck-1{
        position: absolute;
        top: 60vh;
        left: 5vw;
        transform: rotate(45deg);
        font-size: 30rem;
        font-weight: 800;
        color: rgba(199, 199, 199, $alpha);
        line-height: 22rem;
    }

    .bck-2{
        position: absolute;
        top: 230vh;
        right: 30vw;
        background-color: rgba(199, 199, 199, $alpha);
        width: 200px;
        height: 200px;
        transform: rotate(45deg);
    }

    .line-container-1{
        position: absolute;
        top: 30vh;
        right: 10vw;

        .bck-3{
            margin-top: -140px;

            svg{
                transform: rotate(-45deg);
                fill:$silver;
                stroke:rgba(199, 199, 199, $alpha);
                stroke-width:4
            }
        } 
    }

    .bck-4{
        position: absolute;
        top: 150vh;
        left: 30vw;
        width: 200px;
        height: 100px; /* as the half of the width */
        border-top-left-radius: 110px;  /* 100px of height + 10px of border */
        border-top-right-radius: 110px; /* 100px of height + 10px of border */
        border: 10px solid rgba(199, 199, 199, $alpha);
        border-bottom: 0;
    }

    .bck-5{
        position: absolute;
        top: 160vh;
        left: 10vw;
        width: 200px;
        height: 100px; /* as the half of the width */
        border-top-left-radius: 110px;  /* 100px of height + 10px of border */
        border-top-right-radius: 110px; /* 100px of height + 10px of border */
        border: 10px solid rgba(199, 199, 199, 0);
        border-bottom: 0;
        background-color: rgba(199, 199, 199, $alpha);
    }

    .bck-6{
        position: absolute;
        top: 180vh;
        right: 10vw;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 10px solid rgba(199, 199, 199, $alpha);
    }

    .bck-7{
        position: absolute;
        top: 300vh;
        left: 40vw;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 10px solid rgba(199, 199, 199, 0);
        background-color: rgba(199, 199, 199, $alpha);
    }

    .bck-8{
        position: absolute;
        top: 210vh;
        left: 10vw;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid rgba(199, 199, 199, $alpha);
    }

    .bck-9{
        position: absolute;
        top: 270vh;
        left: 10vw;
        width: 0px;
        height: 0px;
        border-right: 60px solid transparent;
        border-top: 60px solid rgba(199, 199, 199, $alpha);
        border-left: 60px solid rgba(199, 199, 199, $alpha);
        border-bottom: 60px solid rgba(199, 199, 199, $alpha);
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }

    .bck-10{
        position: absolute;
        top: 10vh;
        left: 5vw;
        box-shadow: 0 0 0 1em rgba(199, 199, 199, $alpha),
        0 1em 0 1em rgba(199, 199, 199, $alpha),
        -2.5em 1.5em 0 .5em rgba(199, 199, 199, $alpha),
        2.5em 1.5em 0 .5em rgba(199, 199, 199, $alpha),
        -3em -3em 0 0 rgba(199, 199, 199, $alpha),
        3em -3em 0 0 rgba(199, 199, 199, $alpha),
        -2em -2em 0 0 rgba(199, 199, 199, $alpha),
        2em -2em 0 0 rgba(199, 199, 199, $alpha),
        -3em -1em 0 0 rgba(199, 199, 199, $alpha),
        -2em -1em 0 0 rgba(199, 199, 199, $alpha),
        2em -1em 0 0 rgba(199, 199, 199, $alpha),
        3em -1em 0 0 rgba(199, 199, 199, $alpha),
        -4em 0 0 0 rgba(199, 199, 199, $alpha),
        -3em 0 0 0 rgba(199, 199, 199, $alpha),
        3em 0 0 0 rgba(199, 199, 199, $alpha),
        4em 0 0 0 rgba(199, 199, 199, $alpha),
        -5em 1em 0 0 rgba(199, 199, 199, $alpha),
        -4em 1em 0 0 rgba(199, 199, 199, $alpha),
        4em 1em 0 0 rgba(199, 199, 199, $alpha),
        5em 1em 0 0 rgba(199, 199, 199, $alpha),
        -5em 2em 0 0 rgba(199, 199, 199, $alpha),
        5em 2em 0 0 rgba(199, 199, 199, $alpha),
        -5em 3em 0 0 rgba(199, 199, 199, $alpha),
        -3em 3em 0 0 rgba(199, 199, 199, $alpha),
        3em 3em 0 0 rgba(199, 199, 199, $alpha),
        5em 3em 0 0 rgba(199, 199, 199, $alpha),
        -2em 4em 0 0 rgba(199, 199, 199, $alpha),
        -1em 4em 0 0 rgba(199, 199, 199, $alpha),
        1em 4em 0 0 rgba(199, 199, 199, $alpha),
        2em 4em 0 0 rgba(199, 199, 199, $alpha);
        background: rgba(199, 199, 199, $alpha);
        width: 1em;
        height: 1em;
        overflow: hidden;
        margin: 50px 0 70px 65px;
    }

    .bck-11{
        position: absolute;
        top: 400vh;
        right: 0;
        transform: rotate(45deg);
        font-size: 10rem;
        color: rgba(199, 199, 199, $alpha);
    }

    //.bck-13{
    
    //}

    // Colors
    $bg-color:$silver;
    $dot-color: rgba(199, 199, 199, $alpha);

    // Dimensions
    $dot-size: 10px;
    $dot-space: 30px;

    .bck-14{
        position: absolute;
        top: 350vh;
        left: 10vw;
        height: 500px;
        width: 500px;
        border-radius: 50%;
        background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	    background-size: $dot-space $dot-space;
    }

    .bck-15{
        position: absolute;
        top: 90vh;
        right: 20vw;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        transform: rotate(45deg);
        overflow: hidden;
        //background-color: lightgreen;

        div{
            height: 10px;
            width: 100%;
            margin-bottom: 20px;
            background-color: rgba(199, 199, 199, 0.3);
        }
    }
}

.main{
    position: absolute;
    top: 0;
    left: 0;
    height: 700vh;
    width: 100%;

    .section-1{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            font-size: 13rem;
            font-weight: 700;
            color: $gray;
        }
    }

    .section-2{
        height: 100vh;
        padding: 0 190px 0 150px;

        .container{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title{
                line-height: 6rem;
                color: $gray;
                font-size: 7rem;
                letter-spacing: -3px;
                font-weight: 700;
            }

            img{
                width: 35%;
            }
        }
    }

    .section-3{
        height: 150vh;
        margin-top: 200px;
        //background-color: lightblue;
        overflow: visible;
        position: relative;

        .image-container{
            position: absolute;
            height: 100%;
            width: 100%;

            img{
                position: absolute;
                box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
            }

            .img-1{
                height: 300px;
                top: 650px;
                left: 40%;
                z-index: 12;
            }

            .img-2{
                width: 400px;
                left: 80px;
                top: 100px;
                z-index: 11;
            }

            .img-3{
                width: 400px;
                left: 50%;
                transform: translateX(-50%);
                top: 200px;
                z-index: 9;
            }

            .img-4{
                width: 400px;
                top: 450px;
                left: 100px;
                z-index: 13;
            }

            .img-5{
                width: 400px;
                top: 50px;
                right: 100px;
                z-index: 14;
            }

            .img-6{
                height: 400px;
                right: 200px;
                z-index: 15;
                box-shadow: none;
            }

            .img-7{
                width: 350px;
                top: 550px;
                right: 0;
                z-index: 16;
            }
        }

        .text-container{
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            p{
                color: white;
                font-size: 6rem;
                letter-spacing: -7px;
                text-align: center;
                padding: 150px;
                line-height: 6rem;
            }
        }
    }
}