@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
}

section {
  overflow-x: hidden;
}

body {
  position: relative !important;
}

.background {
  height: 700vh;
  width: 100%;
  background-color: #f8f8f8;
  position: absolute;
}

.background .bck-1 {
  position: absolute;
  top: 60vh;
  left: 5vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 30rem;
  font-weight: 800;
  color: rgba(199, 199, 199, 0.3);
  line-height: 22rem;
}

.background .bck-2 {
  position: absolute;
  top: 230vh;
  right: 30vw;
  background-color: rgba(199, 199, 199, 0.3);
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.background .line-container-1 {
  position: absolute;
  top: 30vh;
  right: 10vw;
}

.background .line-container-1 .bck-3 {
  margin-top: -140px;
}

.background .line-container-1 .bck-3 svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  fill: #f8f8f8;
  stroke: rgba(199, 199, 199, 0.3);
  stroke-width: 4;
}

.background .bck-4 {
  position: absolute;
  top: 150vh;
  left: 30vw;
  width: 200px;
  height: 100px;
  /* as the half of the width */
  border-top-left-radius: 110px;
  /* 100px of height + 10px of border */
  border-top-right-radius: 110px;
  /* 100px of height + 10px of border */
  border: 10px solid rgba(199, 199, 199, 0.3);
  border-bottom: 0;
}

.background .bck-5 {
  position: absolute;
  top: 160vh;
  left: 10vw;
  width: 200px;
  height: 100px;
  /* as the half of the width */
  border-top-left-radius: 110px;
  /* 100px of height + 10px of border */
  border-top-right-radius: 110px;
  /* 100px of height + 10px of border */
  border: 10px solid rgba(199, 199, 199, 0);
  border-bottom: 0;
  background-color: rgba(199, 199, 199, 0.3);
}

.background .bck-6 {
  position: absolute;
  top: 180vh;
  right: 10vw;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid rgba(199, 199, 199, 0.3);
}

.background .bck-7 {
  position: absolute;
  top: 300vh;
  left: 40vw;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid rgba(199, 199, 199, 0);
  background-color: rgba(199, 199, 199, 0.3);
}

.background .bck-8 {
  position: absolute;
  top: 210vh;
  left: 10vw;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid rgba(199, 199, 199, 0.3);
}

.background .bck-9 {
  position: absolute;
  top: 270vh;
  left: 10vw;
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid rgba(199, 199, 199, 0.3);
  border-left: 60px solid rgba(199, 199, 199, 0.3);
  border-bottom: 60px solid rgba(199, 199, 199, 0.3);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.background .bck-10 {
  position: absolute;
  top: 10vh;
  left: 5vw;
  -webkit-box-shadow: 0 0 0 1em rgba(199, 199, 199, 0.3), 0 1em 0 1em rgba(199, 199, 199, 0.3), -2.5em 1.5em 0 0.5em rgba(199, 199, 199, 0.3), 2.5em 1.5em 0 0.5em rgba(199, 199, 199, 0.3), -3em -3em 0 0 rgba(199, 199, 199, 0.3), 3em -3em 0 0 rgba(199, 199, 199, 0.3), -2em -2em 0 0 rgba(199, 199, 199, 0.3), 2em -2em 0 0 rgba(199, 199, 199, 0.3), -3em -1em 0 0 rgba(199, 199, 199, 0.3), -2em -1em 0 0 rgba(199, 199, 199, 0.3), 2em -1em 0 0 rgba(199, 199, 199, 0.3), 3em -1em 0 0 rgba(199, 199, 199, 0.3), -4em 0 0 0 rgba(199, 199, 199, 0.3), -3em 0 0 0 rgba(199, 199, 199, 0.3), 3em 0 0 0 rgba(199, 199, 199, 0.3), 4em 0 0 0 rgba(199, 199, 199, 0.3), -5em 1em 0 0 rgba(199, 199, 199, 0.3), -4em 1em 0 0 rgba(199, 199, 199, 0.3), 4em 1em 0 0 rgba(199, 199, 199, 0.3), 5em 1em 0 0 rgba(199, 199, 199, 0.3), -5em 2em 0 0 rgba(199, 199, 199, 0.3), 5em 2em 0 0 rgba(199, 199, 199, 0.3), -5em 3em 0 0 rgba(199, 199, 199, 0.3), -3em 3em 0 0 rgba(199, 199, 199, 0.3), 3em 3em 0 0 rgba(199, 199, 199, 0.3), 5em 3em 0 0 rgba(199, 199, 199, 0.3), -2em 4em 0 0 rgba(199, 199, 199, 0.3), -1em 4em 0 0 rgba(199, 199, 199, 0.3), 1em 4em 0 0 rgba(199, 199, 199, 0.3), 2em 4em 0 0 rgba(199, 199, 199, 0.3);
          box-shadow: 0 0 0 1em rgba(199, 199, 199, 0.3), 0 1em 0 1em rgba(199, 199, 199, 0.3), -2.5em 1.5em 0 0.5em rgba(199, 199, 199, 0.3), 2.5em 1.5em 0 0.5em rgba(199, 199, 199, 0.3), -3em -3em 0 0 rgba(199, 199, 199, 0.3), 3em -3em 0 0 rgba(199, 199, 199, 0.3), -2em -2em 0 0 rgba(199, 199, 199, 0.3), 2em -2em 0 0 rgba(199, 199, 199, 0.3), -3em -1em 0 0 rgba(199, 199, 199, 0.3), -2em -1em 0 0 rgba(199, 199, 199, 0.3), 2em -1em 0 0 rgba(199, 199, 199, 0.3), 3em -1em 0 0 rgba(199, 199, 199, 0.3), -4em 0 0 0 rgba(199, 199, 199, 0.3), -3em 0 0 0 rgba(199, 199, 199, 0.3), 3em 0 0 0 rgba(199, 199, 199, 0.3), 4em 0 0 0 rgba(199, 199, 199, 0.3), -5em 1em 0 0 rgba(199, 199, 199, 0.3), -4em 1em 0 0 rgba(199, 199, 199, 0.3), 4em 1em 0 0 rgba(199, 199, 199, 0.3), 5em 1em 0 0 rgba(199, 199, 199, 0.3), -5em 2em 0 0 rgba(199, 199, 199, 0.3), 5em 2em 0 0 rgba(199, 199, 199, 0.3), -5em 3em 0 0 rgba(199, 199, 199, 0.3), -3em 3em 0 0 rgba(199, 199, 199, 0.3), 3em 3em 0 0 rgba(199, 199, 199, 0.3), 5em 3em 0 0 rgba(199, 199, 199, 0.3), -2em 4em 0 0 rgba(199, 199, 199, 0.3), -1em 4em 0 0 rgba(199, 199, 199, 0.3), 1em 4em 0 0 rgba(199, 199, 199, 0.3), 2em 4em 0 0 rgba(199, 199, 199, 0.3);
  background: rgba(199, 199, 199, 0.3);
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;
}

.background .bck-11 {
  position: absolute;
  top: 400vh;
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 10rem;
  color: rgba(199, 199, 199, 0.3);
}

.background .bck-14 {
  position: absolute;
  top: 350vh;
  left: 10vw;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: linear-gradient(90deg, #f8f8f8 20px, transparent 1%) center, linear-gradient(#f8f8f8 20px, transparent 1%) center, rgba(199, 199, 199, 0.3);
  background-size: 30px 30px;
}

.background .bck-15 {
  position: absolute;
  top: 90vh;
  right: 20vw;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: hidden;
}

.background .bck-15 div {
  height: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(199, 199, 199, 0.3);
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  height: 700vh;
  width: 100%;
}

.main .section-1 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .section-1 p {
  font-size: 13rem;
  font-weight: 700;
  color: #343436;
}

.main .section-2 {
  height: 100vh;
  padding: 0 190px 0 150px;
}

.main .section-2 .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .section-2 .container .title {
  line-height: 6rem;
  color: #343436;
  font-size: 7rem;
  letter-spacing: -3px;
  font-weight: 700;
}

.main .section-2 .container img {
  width: 35%;
}

.main .section-3 {
  height: 100vh;
  background-color: lightblue;
  padding: 0 100px;
}

.main .section-3 .image-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.main .section-3 .image-container img {
  position: absolute;
}

.main .section-3 .image-container .img-1 {
  height: 300px;
}

.main .section-3 .image-container .img-2 {
  width: 400px;
}

.main .section-3 .image-container .img-3 {
  width: 400px;
}

.main .section-3 .image-container .img-4 {
  width: 400px;
}

.main .section-3 .image-container .img-5 {
  width: 400px;
}

.main .section-3 .image-container .img-6 {
  height: 400px;
}

.main .section-3 .image-container .img-7 {
  width: 400px;
}
/*# sourceMappingURL=style.css.map */